{{ define "main" }}

<h5><em>LAYOUTS/INDEX.HTML</em></h5>

 <article>
    {{ .Content }}
  </article>






<section>
  <ul>
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
      <li><a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}">{{ $taxonomyname }}</a>
        <ul>
          {{ range $key, $value := $taxonomy }}
          <li> {{ $key }} </li>
                <ul>
                {{ range $value.Pages }}
                    <li hugo-nav="{{ .RelPermalink}}"><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
                {{ end }}
                </ul>
          {{ end }}
        </ul>
      </li>
    {{ end }}
  </ul>
</section>












  {{/* Define a section to pull recent posts from. For Hugo 0.20 this will default to the section with the most number of pages. */}}
  {{/* $mainSections := .Site.Params.mainSections | default (slice "post") */}}
  {{ $mainSections := .Site.Params.mainSections }}

  {{/* Create a variable with that section to use in multiple places. */}}
  {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
 
  {{/* Check to see if the section is defined for ranging through it */}}
  {{ $section_count := len $section }}
  {{ if ge $section_count 1 }}
    {{/* Derive the section name  */}}
    {{ $section_name := index (.Site.Params.mainSections) 0 }}


    {{ range $key, $taxonomy := .Site.Taxonomies }}
      <div>
        <h1>
          {{ $key }}
        </h1>
        {{ range $taxonomy.Pages }}
            <a href="{{ .Permalink}}"> {{ .LinkTitle }} </a>
        {{ end }}
      </div>
    {{ end }}


    <div>
      {{/* Use $section_name to get the section title. Use "with" to only show it if it exists */}}
       {{ with .Site.GetPage "section" $section_name }}
          <h1>
            {{ $.Param "recent_copy" | default (i18n "recentTitle" .) }}
          </h1>
        {{ end }}

      <section>
        {{ range ($section)  }}
          <h2>
            <a href="{{ .RelPermalink }}">
              {{ .Title }}
            </a>
          </h2>
        {{ end }}

        </section>

      </div>
  {{ end }}
{{ end }}
