/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: monospace;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


:root {
  font-size: 70%;
  --padding-small: 2rem;
  --padding-main: 4rem;
  --padding-large: 12rem;
  --font-size-small: 1.25rem;
  --color-light: #dedede;
}

body {
  padding: var(--padding-main);
  font-size: 2rem;
}

h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.5rem;
}
h4,
h5
p,
a {
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: var(--padding-main);
}

#content {
  margin-bottom: var(--padding-large);
}

/* Main content before 'related' etc */
#content > div > article > div {
  margin-bottom: var(--padding-large);
}

footer,
footer a {
  font-size: var(--font-size-small);
}

aside {
  padding: var(--padding-main);
  border: dashed 0.5rem var(--color-light);
}
aside h4 {
  margin-bottom: 0;
}
aside > div > ul {
  padding-left: 0;
  list-style-type: none;
}
aside > div > ul > li {
  padding-left: 0;
  margin-bottom: var(--padding-main);
}
aside > div > ul ul {
  padding-left: var(--padding-small);
  list-style-position: inside;
  margin-bottom: var(--padding-small);
  margin-bottom: 0;
  display: inline;
}
aside > div > ul ul li {
  display: inline;
  padding-left: var(--padding-small);
}
aside > div > ul ul li:last-of-type:after {
  content: '';
  display: block;
}
aside > div > ul ul lh {
  display: inline-block;
/*  width: 22rem;*/
  text-align: right;
  font-weight: bold;
  padding: 0;
}
aside > div > ul ul lh:last-child {
  width: auto;
}

em {
  font-style: italic;
}

em > em {
  color: #ff0000;
  font-size: var(--font-size-small);
  font-style: normal;
  letter-spacing: 0.4em;
  position: absolute;
}

blockquote {
  background-color: var(--color-light);
  padding: var(--padding-main);
  padding-bottom: var(--padding-small);
  padding-top: 0;
}
blockquote:first-of-type {
  padding-top: var(--padding-main);
}
blockquote:last-of-type {
  padding-bottom: var(--padding-main);
  margin-bottom: var(--padding-main);
}
blockquote p {
  margin-bottom: 0;
}

summary {
  font-style: italic;
}
