<h5><em>LAYOUTS/PARTIALS/ACTORS.HTML</em></h5>
<ul>
  {{ range .Params.actors }}
   <li>
     <a href="{{ "/pages/" | relLangURL }}{{ . | urlize }}">
       {{- . -}}
     </a>
   </li>
  {{ end }}
</ul>
